html,body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #E9E7E7;
}

/* a{
    color: #0059b2;
    text-decoration: none;
}

a:hover{
    color: #CC0000;
    text-decoration: underline;
} */

/* .clear {clear:both} */

ul.mainmenu {
    list-style: none;
    background: #E9E7E7;
    height: 60px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    overflow: hidden;
}

.anotherli{
    float:left;
    margin: 18px 40px 0 50px; 
}

.liname{
    float:left;
    margin: 18px 40px 0 50px; 
    margin-left: -6%;
    padding: 0;
    color: #3A97D2;
}

ul.mainmenu li.last {float: right;}

ul.mainmenu li a{
    color: #3A97D2;
    text-decoration: none;
}

ul.mainmenu li a:hover{
    color: #3280b1;
}
.lilogo{
    float:left;
    padding-right: 0;
    width: 10%;
    height: 100%;

}
img.logo {
    height: 100%;
    width: auto;
}
/* div.content{
    margin: 0px;
} */

.delimiter{
    background-color: #3A97D2;
}

.delimiter h2{
 color: #E9E7E7;
 margin: 0;
 padding-top: 1%;
 padding-bottom: 1%;
 padding-left: 3%;
}

.container {
    display: flex;
    min-height: 100%;
}

.sidebar {
    background-color: #3A97D2;
    width: 12%;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

.sidebar li {
    text-align: left;
    padding-top: 13%;
    padding-bottom: 13%;
    width: 100%;
}

.sidebar a {
    text-decoration: none;
    padding-left: 15%;
}

.main-content {
    flex: 1; /* Занимает все оставшееся пространство */
    padding-top: 2%;
    padding-left: 2%;
}

.selected_item{
    background-color: #E9E7E7;
}

.selected_item a{
    color: #3A97D2;
}

.nonselected_item a{
    color: #E9E7E7;
}

.flash {padding: 10px;}
.flash.success {
         border: 1px solid #21DB56;
         background: #AEFFC5;
}
.flash.error {
         border: 1px solid #FF4343;
         background: #FF9C9C;
}
.form-contact .invalid {
    display: inline-block;
    background: #FF9898;
}
.form-contact .invalid-feedback {
    color: #CC0000;
}


.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
}
.form-row label {
    width: 10%;
    text-align: right;
}
.form-row input {
    width: 10%;
}

.accommodation_button{
    margin-right: 10%;
}
.delimiter_accommodation{
    background-color: #3A97D2;
    height: 10%;
}

.hotel{
    display: flex;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
}

.hotel img{
    height: 200px;
    width: 300px;
    padding: 1%;
}