html,body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #E9E7E7;
}

/* a{
    color: #0059b2;
    text-decoration: none;
}

a:hover{
    color: #CC0000;
    text-decoration: underline;
} */

/* .clear {clear:both} */

ul.mainmenu {
    list-style: none;
    background: #E9E7E7;
    height: 9vh;
    margin: 0;
    padding: 0;
    font-size: 20px;
    overflow: hidden;
}

.anotherli{
    float:left;
    margin: 3vh 4vw 0 5vw; 
}

.liname{
    float:left;
    margin: 3vh 4vw 0 5vw; 
    margin-left: -6vw;
    padding: 0;
    color: #3A97D2;
}

ul.mainmenu li.last {float: right;}

ul.mainmenu li a{
    color: #3A97D2;
    text-decoration: none;
}

ul.mainmenu li a:hover{
    color: #3280b1;
}
.lilogo{
    float:left;
    padding-right: 0;
    width: 10vw;
    height: 100%;

}
img.logo {
    padding-top: 0.5vh;
    height: 80%;
    width: auto;
}
/* div.content{
    margin: 0px;
} */

.delimiter{
    background-color: #3A97D2;
}

.delimiter h2{
 color: #E9E7E7;
 margin: 0;
 padding-top: 2.5vh;
 padding-bottom: 2.5vh;
 padding-left: 3vw;
}

.container {
    display: flex;
    min-height: 100%;
}

.sidebar {
    background-color: #3A97D2;
    width: 14vw;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

.sidebar li {
    text-align: left;
    padding-top: 4vh;
    padding-bottom: 4vh;
    width: 100%;
}

.sidebar a {
    text-decoration: none;
    padding-left: 15%;
}

.main-content {
    flex: 1; /* Занимает все оставшееся пространство */
    padding-top: 2vh;
    padding-left: 2vw;
}

.selected_item{
    background-color: #E9E7E7;
}

.selected_item a{
    color: #3A97D2;
}

.nonselected_item a{
    color: #E9E7E7;
}

.flash {padding: 10px;}
.flash.success {
         border: 1px solid #21DB56;
         background: #AEFFC5;
}
.flash.error {
         border: 1px solid #FF4343;
         background: #FF9C9C;
}
.form-contact .invalid {
    display: inline-block;
    background: #FF9898;
}
.form-contact .invalid-feedback {
    color: #CC0000;
}


.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4vh;
}
.form-row label {
    width: 10vw;
    text-align: right;
}
.form-row input {
    width: 10vw;
}

.accommodation_button{
    margin-right: 10vw;
}
.delimiter_accommodation{
    background-color: #3A97D2;
    height: 10vh;
}

.hotels_city{
    padding-left: 15vw;
}


.content{
    align-items: center;
    text-align: center;
}

.content h3{
    color: #666;
    font-weight: lighter;
}

.five-positions{
    text-align: center;
    margin-top: 10vh;
}

.five-positions h1{
    font-weight: lighter;
}

.five-positions-logos{
    display: flex;
    justify-content: center; /* Центрируем блоки */
    gap: 5vw  ; /* Отступы между блоками */
    padding: 3vw; /* Внутренний отступ контейнера */
}

.block {
    padding:1vw; /* Внутренний отступ */
}


.block img{
    width: 4vw;
    height: auto;
}

.block p{
    max-width: 12vw;
}



.air-content{
    align-items: center;
    text-align: center;
}

.four-positions{
    text-align: center;
    margin-top: 10vh;
}

.four-positions h1{
    font-weight: lighter;
}

.four-positions-logos{
    display: flex;
    justify-content: center; /* Центрируем блоки */
    gap: 5vw  ; /* Отступы между блоками */
    padding: 3vw; /* Внутренний отступ контейнера */
}

.air-block {
    padding:1vw; /* Внутренний отступ */
    width: 17vw;
    height: 40vh;
    border-radius: 15px;
    overflow: hidden; /* Скрыть содержимое, выходящее за пределы контейнера */
    position: relative;
}


.air-block img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Изображение обрежется, чтобы заполнить контейнер */
    display: block; /* Убираем пробелы вокруг изображения */
    border-radius: 15px;
}

.air-firstblock p{
    max-width: 12vw;
    color: white;
    position: absolute;
    font-weight: lighter;
    font-size: 5vh;
    margin-top: -25vh;
    margin-left: 5vw;
    text-shadow: 
        -1px -1px 0 #000,   /* Верхний левый угол */
        1px -1px 0 #000,    /* Верхний правый угол */
        -1px 1px 0 #000,    /* Нижний левый угол */
        1px 1px 0 #000;     /* Нижний правый угол */
}



.hotel{
    display: flex;
    background-color: white;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 1vh;
    border-radius: 10px;
    height: auto;
}
.hotel_description{
    display: flex;
    width: 55vw;
    max-height: 30vh;
}

.hotel_description_text{
    padding-top: 2vh;
}

/* .hotel_preview{
    height: 30vh;
    padding: 1%;
    border-radius: 10px;
} */

.hotel_preview{
    height: 94%; /* Картинка займет всю высоту контейнера */
    width: auto; /* Ширина будет авто для сохранения пропорций */
    object-fit: cover; /* Картинка будет покрывать весь контейнер, сохраняя пропорции */
    padding: 1%;
    border-radius: 10px;
}

.hotel_description_name{
    color: #000000;
    text-decoration: none; 
    font-size: 200%;
    padding-left: 1.5vw;
    padding-bottom: 0;
    margin-bottom: 0;
}

.star_rating{
    padding-top: 1.3vh;
    padding-left: 1vw;
}
.hotel_description_address{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 1.6vw;
    margin-right: 1vw;
    padding-top: 0;
    margin-top: 0;
    text-decoration: none;
    color: #00448e;
}

.hotel_description_des{ 
    font-size: 90%;
    padding-left: 1.6vw;
    padding-top: 1vh;
    max-width: 35vw;
}

.star-icon {
    width: 1vw;
    height: 1vw;
}

.name_rating{
    display: inline-flex;
}
.icon{
    padding-left: 1.6vw;
    padding-top: 2vh;
}

.hotels_price{
    flex: 1;
    background-color: #3a98d280;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hotels_price_price{
    display: flex;
}

.hotels_price h2{
    padding-left: 2vw;
    font-size: 150%;
    color: #4a4a4a;
    padding-top: 0.3vh;
    margin-bottom: 0;
}

.hotels_price h4{
    font-size: 70%;
    color: #4a4a4a;
    margin-top: 0;
    padding-left: 3vw;

}

.hotels_price_price h3{
    color: #ec9f05;
    font-size: 200%;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 2vh;
    padding-left: 3vw;
}


.myButton {
    background-color: #ec9f05; /* Зеленый цвет фона */
    border: none;
    color: white;
    padding: 1.6vh 2vw; /* Отступы внутри кнопки */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2.5vh 1.4vw;
    cursor: pointer;
    border-radius: 10px; /* Закругленные углы */
    width: 55%;
}

/* CSS стили для при наведении курсора на кнопку */
.myButton:hover {
    background-color: #d69718; /* Темно-зеленый цвет фона */
}

.delimiter_hotel{
    background-color: #3A97D2;
    height: 8vh;
}

/* Стили для основного контейнера */
.container_hotel {
    max-width: 80vw;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Заголовок отеля */
h1 {
    color: #333;
    font-size: 32px;
    margin-bottom: 5vh;
}

/* Описание отеля */
.description {
    color: #666;
    font-size: 18px;
    margin-bottom: 5vh;
}


/* Галерея фотографий отеля */
.gallery {
    position: relative;
    width: 100%;
    padding-bottom: 10vh;
}

.image-wrapper {
    text-align: center;
}

.hotel-photo {
    display: none; /* Сначала скрываем все фотографии */
    height: 60vh;
}

.navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    font-size: 36px;
    cursor: pointer;
}

.prev {
    position: absolute;
    left: 1px; /* Расположение слева */
    padding-left: 10vw;
}

.next {
    position: absolute;
    right: 1px; 
    padding-right: 10vw;
}
/* Галерея фотографий номеров */
.room-images {
    margin-bottom: 5vh;
}

.nomer-foto{
    max-width: 20%;
    height: auto;
    margin-right: 1vw;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* Название и описание номера */
.room {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5vh;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.room-name {
    color: #333;
    font-size: 22px;
    margin-bottom: 5vh;
    margin-top: 0;
    padding-top: 0;
}

.room p {
    color: #666;
    font-size: 16px;
    margin-bottom: 2vh;
    max-width: 40vw;
}

/* Кнопка Забронировать */
.btn-book {
    display: inline-block;
    padding: 2% 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    float: right;
    margin-top: -25vh;
    margin-right: 5vw;
}

.btn-book:hover {
    background-color: #0056b3;
}

.booked{
    padding-top: 1vw;
    font-weight: bold;
}

.order{
    /* background-color: white;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 1vh;
    border-radius: 10px;
    padding-top: 1vw;
    width: auto;
    height: auto; */
}
.order_description{
}

.order_description img{
    height: 26vh;
    width: 18vw;
    padding: 1%;
    display: block;
    padding-left: 2vw;
    border-radius: 10px;
}

.order a{
    color: #000000;
    text-decoration: none; 
    font-size: 200%;
    padding-left: 2vw;
    padding-top: 2vh;
}

.order_description p{
    font-size: 150%;
    padding-left: 2vw;
    margin-top: -0.1vh;
}

.order_price{
    /* background-color: #3a98d280;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
    display: flex;
}

.order_price_price{
}

.order_price h2{
    padding-left: 2vw;
    font-size: 120%;
    color: #4a4a4a;
    margin-top: -0.1vh;
    padding-top: 0.5vw;
}

.order_price h4{
    font-size: 100%;
    padding-top: 0;
    margin-top: -3vh;
    padding-left: 3vw;
    color: #4a4a4a;
    padding-bottom: 3vh;
}

.order_price_price h3{
    color: #ec9f05;
    font-size: 170%;
    padding-top: 0;
    margin-top: -0.5vh;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 1vw;
    padding-top: 0.5vw;
}

.order_price_price p{
    color: #ec9f05;
    font-size: 150%;
    margin-top: -4vh;
    padding-left: 5.3vw;
}
.flexb{
    background-color: white;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 1vh;
    border-radius: 10px;
    padding-top: 1vw;
    width: auto;
    height: auto;
    display: flex;
}

.order_info{
    flex: 1;
    background-color: #3a98d280;
    margin-left: 15vw;
    margin-top: -2.1vh;
    border-radius: 10px;
    padding-left: 2vw;
}
.rubl{
    margin-left: 2vw;
}

.myButton_order {
    background-color: #ec9f05; /* Зеленый цвет фона */
    border: none;
    color: white;
    padding: 15px 32px; /* Отступы внутри кнопки */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px; /* Закругленные углы */
    margin-left:3vw ;
    width: 55%;
}

/* CSS стили для при наведении курсора на кнопку */
.myButton_order:hover {
    background-color: #d69718; /* Темно-зеленый цвет фона */
}
.images_order{
    display: inline-flex;
}

.image_order{
    width: 10vw;
    height: auto;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
}

.form-row > * {
    flex: 1;
    margin-right: 10px; /* Пространство между элементами формы */
}

/* Опциональный стиль для поля выбора даты */
.datepicker {
    width: 100%; /* Растягиваем поле выбора даты на всю ширину */
}
.reset_passeord_button{
    background-color: #ec9f05; /* Зеленый цвет фона */
    border: none;
    color: white;
    padding: 1vh 3vw; /* Отступы внутри кнопки */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px; /* Закругленные углы */
    margin-top: 2vh;
    margin-left: 2.5vw;
}

.reset_passeord_button:hover {
    background-color: #ec9f05; /* Темно-зеленый цвет фона */
}

.reset_passeord{
    margin-left: 2.5vw;
    font-size: 2vh;
    padding-top: 10;
}

.reset_passeord_window{
   margin-left: 1vw; 
   border-radius: 5px;
   height: 2.3vh; 
   width: 15vw;
   border-color: #666;
}
#new_password{
    margin-left: 1.4vw;
}
#new_password2{
    margin-left: 1.2vw;
}
.destination_label{
    font-size: 2.5vh;
    font-weight: lighter;
    margin-top: -0.6vh;
    padding-right: 5vw;
    margin-right: 0;
    margin-left: -2vw;
}

.destination_window{
    padding-left: 0;
    margin-left: -3vw;
    border-radius: 5px;
    height: 3vh;  
    width: 15vw;
    border-color: #666;
    text-align: center;
    margin-top: -0.4vw;
    font-size: 2.5vh;
}

.start_date_label{
    font-size: 2.5vh;
    font-weight: lighter;
    margin-top: -0.6vh;
    padding-right: 0;
    margin-right: 0;
    padding-left: 2vw;
    padding-right: 5vw;
}

.start_date_window{
    padding-left: 0;
    margin-left: -3vw;
    border-radius: 5px;
    height: 3vh; 
    width: 15vw;
    border-color: #666;
    text-align: center;
    margin-top: -0.4vw;
    font-size: 2.3vh;
}

.end_date_label{
    font-size: 2.5vh;
    font-weight: lighter;
    margin-top: -0.6vh;
    padding-left: 2vw;
    padding-right: 0;
    margin-right: 0;
    padding-right: 5vw;
}

.end_date_window{
    padding-left: 0;
    margin-left: -3vw;
    border-radius: 5px;
    height: 3vh; 
    width: 15vw;
    border-color: #666;
    text-align: center;
    margin-top: -0.4vw;
    font-size: 2.5vh;
}

.accommodation_button{
    background-color: #ec9f05; /* Зеленый цвет фона */
    border: none;
    color: white;
    padding: 1.5vh 4vw; /* Отступы внутри кнопки */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: -1.2vh;
    cursor: pointer;
    border-radius: 10px; /* Закругленные углы */    
    margin-left: 2.5vw;
    padding-right: 5vw;
    margin-right: 5vw;
}

.accommodation_button:hover {
    background-color: #ec9f05; /* Темно-зеленый цвет фона */
}

.delimiter_accommodation_booking{
    background-color: #3A97D2;
    height: 10vh;
    padding-top: 0;
    margin-top: -2vh;
}

.top-label{
    padding-left: 2vw;
    color: white;
    padding-top: 3vh;
}   
.container_booking {
    display: flex;
    max-width: 59vw;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 3vw;
}

/* Стили для формы */
.form-container {
    width: 40%;
    padding: 20px;
    background-color: #f7f7f7;
    border-right: 1px solid #ccc;
    border-radius: 10px;    
}

.booking_form {
    max-width: 100%;
    margin: 0;
}

.booking_form .name_label,.check_in_label,.check_out_label,
.booking_form .phone_number_label
 {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.1em;
    color: #333;
}
.check_out_label{
    padding-left: 6.2vw;
}

.booking_form .name_input,
.booking_form .phone_number_input{
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #fff;
    box-sizing: border-box;
}

.date_input{
    width: 9.2vw;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #fff;
    box-sizing: border-box;
}
.date_input_out{
    width: 9.2vw;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #fff;
    box-sizing: border-box;
    margin-left: 2.5vw;

}
.passport_book{
    display: flex;
}
.booking_form .passport_series_label,
.booking_form .passport_number_label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.1em;
    color: #333;
    width: 10vw; /* Устанавливаем ширину меток */
}
.passport_series_label{
    padding-right: 0;
    margin-right: 0;
}
.passport_number_label{
    padding-left: 0;
    margin-left: -1vw  ;
}
.booking_form .passport_series_input,
.booking_form .passport_number_input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #fff;
    box-sizing: border-box;
    vertical-align: top; /* Выравниваем поля по верхнему краю */
}

.passport_series_input{
    width: 8vw;
    margin-right: 1vw;
}
.passport_number_input{
    width: 11.9vw;
}




.booking_form .submit_button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3A97D2;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 6vh;
    margin-bottom: 0;
}

.booking_form .submit_button:hover {
    background-color: #3280b1;
}

/* Стили для контейнера описания */
.description-container {
    width: 60%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

.description_title {
    margin-top: 0;
    font-size: 1.5em;
}

.room-booking{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1vh;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 1vw;
}
.room-name-booking{
    padding-left: 1vw;
    font-weight: bold;
    font-size:large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.room-booking-foto{
    height: 17vh;
}
.room-images-booking{
    padding-left: 1vw;
}
.booking-description{
    padding-left: 1vw;
}
.price-booking{
    font-weight: lighter;
    font-size: xx-large;
    padding-left: 1vw;
    margin-bottom: 0.5vh;
}
.itog-price-booking{
    font-weight: bold;
    font-size: xx-large;
    padding-left: 2vw;
    margin-bottom: 0.5vh;
}


.user-info {
    width: 50vw;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 3vw;
}

.user-form {
    max-width: 100%;
    margin: 0;
}

.user-column{
    display: flex;
}

.user-form .first_name_label,.last_name_label,.birth_date_label,
.user-form .email_label,.phone_code_label,.phone_number_label_user,.gender_label {
    display: block;
    font-weight: bold;
    padding: 1vh;
    font-size: 1.1em;
    color: #333;
    width: 10vw; /* Устанавливаем ширину меток */
    padding-top: 3vh;
}
.user-form .first_name_label,.last_name_label,.birth_date_label{
    padding-top: 0;
    margin-top: 0;
}
.user-form .email_label,.phone_code_label,.phone_number_label_user{
    padding-top: 0;
}
.gender_label{
    padding-left: 1.1vw;
    font-weight: lighter;
    padding-top: 1vh;
    margin-right: 0;
    padding-right: 0;
}
.first_name_label,.email_label{
    margin-left: 0.7vw;
}
.last_name_label,.phone_code_label{
    margin-left: 5vw;
    padding-right: 0;
    margin-right: 0;
}
.phone_number_label_user{
    padding-left: 0;
    margin-left: -7vw;
}

.birth_date_label{
    padding-left: 6vw;
}

.user-form .first_name_input,.last_name_input,.birth_date_input,
.user-form .email_input,.phone_code_input,.phone_number_input_user {
    width: 15vw;
    height: 6vh;
    padding: 1vw;
    margin-bottom: 2vh;
    margin-left: 1vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #fff;
    box-sizing: border-box;
    vertical-align: top; /* Выравниваем поля по верхнему краю */
    background-color: #dfecfd
}

.birth_date_input{
    font-size: 1.3em;
}

.phone_code_input{
    width: 3vw;
    padding-right: 0;
    margin-right: 0;
}
.phone_number_input_user{
    width: 12vw;
    margin-left: 0;
}


.user-form  .submit_button_user {
    width: 15vw;
    padding: 1vw;
    margin-left: 1vw;
    border: none;
    border-radius: 5px;
    background-color: #ebbb1d;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 6vh;
    margin-bottom: 0;
}

.user-form  .submit_button_user:hover {
    background-color: #daa800;
}

.gender_input{
    display: flex;
    list-style: none;
    margin-left: -10vw;
    margin-top: 1vh;
}
#gender-0,#gender-1{
    margin-left: 0.5vw;
}
.airform{
    display: flex;
    height: 13vh;
}
.airform .departure_city_label, .arrival_city_label, .departure_date_label {
    font-size: 2.5vh;
    margin-right: 0;
    padding-left: 4vw;
    padding-right: 1vw;
    padding-top: 5vh;
}
.passengers_label{
    font-size: 2vh;
    padding-left: 4vw;
}

.flight_class_label{
    font-size: 2vh;
    padding-left: 4vw;
}
.airform .departure_city_window, .arrival_city_window, .departure_date_window, .passengers_window, .flight_class_window{
    border-radius: 5px;
    border-color: #666;
    text-align: center;
    height: 2.5vh; 
    font-size: 1.5vh;
    margin-top: 5vh;
}
.passengers_window{
    width: 2vw;
    margin-top: 2vh;
    margin-left: 1vw;
}

.departure_date_window{
    height: 3vh; 
}

.flight_class_window{
    height: 3vh;
    margin-top: 3vh;
    margin-left: 1vw;
}

.air_button{
    background-color: #ec9f05; /* Зеленый цвет фона */
    border: none;
    color: white;
    padding: 2vh 6vw; /* Отступы внутри кнопки */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px; /* Закругленные углы */    
    margin-left: 7vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.air_button:hover {
    background-color: #ec9f05; /* Темно-зеленый цвет фона */
}

.delidiv{
    display: block;
}
.delimiter_accommodation_air{
    background-color: #3A97D2;
    height: 13vh;
    padding-top: 0;
}



.container-air-flight {
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    max-width: auto;
    margin-top: 10vh;
}

.flight-details {
    display: flex;
}

.line{
    border: none; /* Убираем границу для браузера Firefox */
    color: #007BFF; /* Цвет линии для остальных браузеров */
    background-color: #007BFF; /* Цвет линии для браузера Firefox и Opera */
    height: 2px;
    padding-top: 0;
    margin-top: 0;
}

.delive_hr{
    border: none; /* Убираем границу для браузера Firefox */
    color: #000000; /* Цвет линии для остальных браузеров */
    background-color: #000000; /* Цвет линии для браузера Firefox и Opera */
    height: 2px;
}

.peresadka-line{
    border: none; /* Убираем границу для браузера Firefox */
    color: #ff0000; /* Цвет линии для остальных браузеров */
    background-color: #ff0000; /* Цвет линии для браузера Firefox и Opera */
    height: 2px;
}

.left-block{
    margin-right: 3vw;
    border-right:  1px solid;
    padding-right: 5vw;
    padding-left: 2vw;
}

.first-panel{
    display: block;
    margin-left: 1vw;
    margin-right: 1vw;
}

.middle-panel{
    display: block; 
    margin-left: 1vw;
    margin-right: 1vw;
}
.middle-panel-first-div{
    display: flex;
}

.middle-panel-first-div p{
    padding-left: 3vw;
    padding-right: 3vw;
}

.last-panel{
    display: block;  
    margin-left: 1vw;
    margin-right: 1vw;  
}

.flight-number {
    font-weight: bold;
    color: #007BFF;
}

.takeoff-logo{
    width: 2vw;
    height: auto;
    /* position: absolute; */
    margin-top: 3vh;
}

.landing-logo{
    width: 2vw;
    height: auto;
    /* position: absolute; */
    margin-top: 3vh;
}