html,body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #E9E7E7;
}

/* a{
    color: #0059b2;
    text-decoration: none;
}

a:hover{
    color: #CC0000;
    text-decoration: underline;
} */

/* .clear {clear:both} */

ul.mainmenu {
    list-style: none;
    background: #E9E7E7;
    height: 9vh;
    margin: 0;
    padding: 0;
    font-size: 20px;
    overflow: hidden;
}

.anotherli{
    float:left;
    margin: 3vh 4vw 0 5vw; 
}

.liname{
    float:left;
    margin: 3vh 4vw 0 5vw; 
    margin-left: -6vw;
    padding: 0;
    color: #3A97D2;
}

ul.mainmenu li.last {float: right;}

ul.mainmenu li a{
    color: #3A97D2;
    text-decoration: none;
}

ul.mainmenu li a:hover{
    color: #3280b1;
}
.lilogo{
    float:left;
    padding-right: 0;
    width: 10vw;
    height: 100%;

}
img.logo {
    height: 100%;
    width: auto;
}
/* div.content{
    margin: 0px;
} */

.delimiter{
    background-color: #3A97D2;
}

.delimiter h2{
 color: #E9E7E7;
 margin: 0;
 padding-top: 2.5vh;
 padding-bottom: 2.5vh;
 padding-left: 3vw;
}

.container {
    display: flex;
    min-height: 100%;
}

.sidebar {
    background-color: #3A97D2;
    width: 14vw;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

.sidebar li {
    text-align: left;
    padding-top: 4vh;
    padding-bottom: 4vh;
    width: 100%;
}

.sidebar a {
    text-decoration: none;
    padding-left: 15%;
}

.main-content {
    flex: 1; /* Занимает все оставшееся пространство */
    padding-top: 2vh;
    padding-left: 2vw;
}

.selected_item{
    background-color: #E9E7E7;
}

.selected_item a{
    color: #3A97D2;
}

.nonselected_item a{
    color: #E9E7E7;
}

.flash {padding: 10px;}
.flash.success {
         border: 1px solid #21DB56;
         background: #AEFFC5;
}
.flash.error {
         border: 1px solid #FF4343;
         background: #FF9C9C;
}
.form-contact .invalid {
    display: inline-block;
    background: #FF9898;
}
.form-contact .invalid-feedback {
    color: #CC0000;
}


.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4vh;
}
.form-row label {
    width: 10vw;
    text-align: right;
}
.form-row input {
    width: 10vw;
}

.accommodation_button{
    margin-right: 10vw;
}
.delimiter_accommodation{
    background-color: #3A97D2;
    height: 10vh;
}

.hotels_city{
    padding-left: 15vw;
}

.hotel{
    display: flex;
    background-color: white;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 1vh;
    border-radius: 10px;
    height: 28vh;
}
.hotel_description{
    display: flex;
    width: 55vw;
}

.hotel_description img{
    height: 26vh;
    width: 18vw;
    padding: 1%;
    border-radius: 10px;
}

.hotel_description a{
    color: #000000;
    text-decoration: none; 
    font-size: 200%;
    padding-left: 3vw;
    padding-top: 2vh;
}

.hotel_description p{
    font-size: 150%;
    padding-top: 13vh;
    margin-left: -6vw;
}

.hotels_price{
    flex: 1;
    background-color: #3a98d280;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hotels_price_price{
    display: flex;
}

.hotels_price h2{
    padding-left: 2vw;
    font-size: 100%;
    color: #4a4a4a;
}

.hotels_price h4{
    font-size: 70%;
    padding-top: 0;
    margin-top: -3vh;
    padding-left: 3vw;
    color: #4a4a4a;
    padding-bottom: 3vh;
}

.hotels_price_price h3{
    color: #ec9f05;
    font-size: 170%;
    padding-left: 3vw;
    padding-top: 0;
    margin-top: 5%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.hotels_price_price p{
    color: #ec9f05;
    font-size: 150%;
    padding-left: 1vw;
    padding-top: 2vh;
    margin-top: 0;
}

.myButton {
    background-color: #ec9f05; /* Зеленый цвет фона */
    border: none;
    color: white;
    padding: 15px 32px; /* Отступы внутри кнопки */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px; /* Закругленные углы */
    margin-left:7% ;
    width: 55%;
}

/* CSS стили для при наведении курсора на кнопку */
.myButton:hover {
    background-color: #d69718; /* Темно-зеленый цвет фона */
}

.delimiter_hotel{
    background-color: #3A97D2;
    height: 8vh;
}

/* Стили для основного контейнера */
.container_hotel {
    max-width: 80vw;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Заголовок отеля */
h1 {
    color: #333;
    font-size: 32px;
    margin-bottom: 5vh;
}

/* Описание отеля */
.description {
    color: #666;
    font-size: 18px;
    margin-bottom: 5vh;
}


/* Галерея фотографий отеля */
.gallery {
    position: relative;
    width: 100%;
    padding-bottom: 10vh;
}

.image-wrapper {
    text-align: center;
}

.hotel-photo {
    display: none; /* Сначала скрываем все фотографии */
    height: 70vh;
}

.navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    font-size: 36px;
    cursor: pointer;
}

.prev {
    position: absolute;
    left: 1px; /* Расположение слева */
}

.next {
    position: absolute;
    right: 1px; /* Расположение справа */
}
/* Галерея фотографий номеров */
.room-images {
    margin-bottom: 5vh;
}

.room-images img {
    max-width: 20%;
    height: auto;
    margin-right: 1vw;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* Название и описание номера */
.room {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5vh;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.room h3 {
    color: #333;
    font-size: 22px;
    margin-bottom: 5vh;
    margin-top: 0;
    padding-top: 0;
}

.room p {
    color: #666;
    font-size: 16px;
    margin-bottom: 2vh;
}

/* Кнопка Забронировать */
.btn-book {
    display: inline-block;
    padding: 2% 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    float: right;
    margin-top: -25vh;
    margin-right: 5vw;
}

.btn-book:hover {
    background-color: #0056b3;
}

.booked{
    padding-top: 1vw;
    font-weight: bold;
}

.order{
    /* background-color: white;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 1vh;
    border-radius: 10px;
    padding-top: 1vw;
    width: auto;
    height: auto; */
}
.order_description{
}

.order_description img{
    height: 26vh;
    width: 18vw;
    padding: 1%;
    display: block;
    padding-left: 2vw;
    border-radius: 10px;
}

.order a{
    color: #000000;
    text-decoration: none; 
    font-size: 200%;
    padding-left: 2vw;
    padding-top: 2vh;
}

.order_description p{
    font-size: 150%;
    padding-left: 2vw;
    margin-top: -0.1vh;
}

.order_price{
    /* background-color: #3a98d280;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
    display: flex;
}

.order_price_price{
}

.order_price h2{
    padding-left: 2vw;
    font-size: 120%;
    color: #4a4a4a;
    margin-top: -0.1vh;
    padding-top: 0.5vw;
}

.order_price h4{
    font-size: 100%;
    padding-top: 0;
    margin-top: -3vh;
    padding-left: 3vw;
    color: #4a4a4a;
    padding-bottom: 3vh;
}

.order_price_price h3{
    color: #ec9f05;
    font-size: 170%;
    padding-top: 0;
    margin-top: -0.5vh;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 1vw;
    padding-top: 0.5vw;
}

.order_price_price p{
    color: #ec9f05;
    font-size: 150%;
    margin-top: -4vh;
    padding-left: 5.3vw;
}
.flexb{
    background-color: white;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 1vh;
    border-radius: 10px;
    padding-top: 1vw;
    width: auto;
    height: auto;
    display: flex;
}

.order_info{
    flex: 1;
    background-color: #3a98d280;
    margin-left: 15vw;
    margin-top: -2.1vh;
    border-radius: 10px;
    padding-left: 2vw;
}
.rubl{
    margin-left: 2vw;
}

.myButton_order {
    background-color: #ec9f05; /* Зеленый цвет фона */
    border: none;
    color: white;
    padding: 15px 32px; /* Отступы внутри кнопки */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px; /* Закругленные углы */
    margin-left:3vw ;
    width: 55%;
}

/* CSS стили для при наведении курсора на кнопку */
.myButton_order:hover {
    background-color: #d69718; /* Темно-зеленый цвет фона */
}
.images_order{
    display: inline-flex;
}

.image_order{
    width: 10vw;
    height: auto;
}

.reset_passeord_button{
    background-color: #ec9f05; /* Зеленый цвет фона */
    border: none;
    color: white;
    padding: 1vh 3vw; /* Отступы внутри кнопки */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px; /* Закругленные углы */
    margin-top: 2vh;
    margin-left: 2.5vw;
}

.reset_passeord_button:hover {
    background-color: #ec9f05; /* Темно-зеленый цвет фона */
}

.reset_passeord{
    margin-left: 2.5vw;
    font-size: 2vh;
    padding-top: 10;
}

.reset_passeord_window{
   margin-left: 1vw; 
   border-radius: 5px;
   height: 2.3vh; 
   width: 15vw;
   border-color: #666;
}

.destination_label{
    font-size: 2vh;
    padding-right: 0;
    margin-right: 0;
}

.destination_window{
    padding-left: 0;
    margin-left: -3vw;
    border-radius: 5px;
    height: 2.3vh; 
    width: 15vw;
    border-color: #666;
    text-align: center;
    font-size: 2vh;
}

.start_date_label{
    font-size: 2vh;
    padding-right: 0;
    margin-right: 0;
}

.start_date_window{
    padding-left: 0;
    margin-left: -3vw;
    border-radius: 5px;
    height: 2.3vh; 
    width: 15vw;
    border-color: #666;
    text-align: center;
    font-size: 2vh;
}

.end_date_label{
    font-size: 2vh;
    padding-right: 0;
    margin-right: 0;
}

.end_date_window{
    padding-left: 0;
    margin-left: -3vw;
    border-radius: 5px;
    height: 2.3vh; 
    width: 15vw;
    border-color: #666;
    text-align: center;
    font-size: 2vh;
}

.accommodation_button{
    background-color: #ec9f05; /* Зеленый цвет фона */
    border: none;
    color: white;
    padding: 1.5vh 4vw; /* Отступы внутри кнопки */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: -1.2vh;
    cursor: pointer;
    border-radius: 10px; /* Закругленные углы */    
    margin-left: 2.5vw;
}

.accommodation_button:hover {
    background-color: #ec9f05; /* Темно-зеленый цвет фона */
}

