{% extends 'base.html' %}
{% block content %}
{{ super() }}
    <div class="delimiter"><h2>Личный кабинет</h2></div>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li class="selected_item"><a href="{{ url_for('profile.myaccount') }}">Мой аккаунт</a></li>
                <li class="nonselected_item"><a href="{{ url_for('profile.myorders') }}">Мои заказы</a></li>
                <li class="nonselected_item"><a href="{{ url_for('profile.settings') }}">Настройки</a></li>
                <li class="nonselected_item"><a href="{{ url_for('profile.logout') }}">Выйти из аккаунта</a></li>
            </ul>
        </div>
        <div class="main-content">
            <p><strong>Username:</strong> {{ current_user.username }}</p>
        <p><strong>Email:</strong> {{ current_user.email }}</p>
        </div>
    </div>
{% endblock content %}