{% extends 'base.html' %}
{% block content %}
{{ super() }}
<!-- <style>
    body{
        overflow: hidden;
    }
</style> -->
    <div class="delimiter"><h2>Личный кабинет</h2></div>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li class="nonselected_item"><a href="{{ url_for('profile.myaccount',username=current_user.username) }}">Мой аккаунт</a></li>
                <li class="selected_item"><a href="{{ url_for('profile.myorders') }}">Мои заказы</a></li>
                <li class="nonselected_item"><a href="{{ url_for('profile.settings') }}">Настройки</a></li>
                <li class="nonselected_item"><a href="{{ url_for('profile.logout') }}">Выйти из аккаунта</a></li>
            </ul>
        </div>
        <div class="main-content">
            {% if orders_list == [] %}
                <h1>У вас нет заказов</h1>
            {% else %}
                {% for order in orders_list  %}
                <div class="flexb">
                    <div class="order">
                        <a href="{{ url_for('show_hotel', hotel_id=order[1].id) }}">{{ order[1].name }}</a>
                        <div class="order_description">
                            <img src="{{ order[1].image_url }}" alt="{{ order[1].name }}">
                            <p>{{order[1].description}}</p>
                        </div>
                            <div class="order_price">
                                <h2>Цена:</h2> 
                                <div class="order_price_price">
                                    <h3>{{ order[0].total_price }} ₽</h3>
                                </div>
                            </div>
                    </div>
                    <div class="order_info">
                        <div class="order_status"></div>
                        <h4>Статус: {{ order[0].status.name }}</h4> 
                        <h3>Номер: {{ order[2].type  }}</h3>
                        {% for image in order[2].images %}
                            <a class="images_order" href="{{ image.image_url }}" target="_blank">
                                <img class="image_order" src="{{ image.image_url }}" alt="Room Photo">
                            </a>
                        {% endfor %}
                        <h3>Даты: {{ order[0].check_in_date }} - {{ order[0].check_out_date }}</h3>
                        {% if order[0].status.name == 'Забронирован' %}
                         <a href="#" class="myButton_order">Оплатить</a>
                        {% else %}
                            
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock content %}