<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    <title>{{title}}</title>
</head>
<body>
    {% block content %}
    {% block mainmenu %}
    <ul class="mainmenu">
        <li><img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo"></li>
        {% for m in menu  %}
        <li><a href="{{m.url}}">{{m.name}}</a></li>
        {% endfor %}
    </ul>
    {% endblock mainmenu %}
    <div class="delimiter"><h2>Личный кабинет</h2></div>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="#">Мой аккаунт</a></li>
                <li><a href="#">Мои заказы</a></li>
                <li><a href="#">Настройки</a></li>
                <li><a href="#">Выход</a></li>
            </ul>
        </div>
        <div class="main-content">
            <p><strong>Username:</strong> {{ current_user.username }}</p>
        <p><strong>Email:</strong> {{ current_user.email }}</p>
        <a href="{{ url_for('profile.logout') }}">Logout</a>
        </div>
    </div>
    {% endblock content %}
</body>
</html>