{% extends 'base.html' %}
{% block content %}
{{ super() }}
<div class="delimiter_accommodation">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-row">
            {{ form.destination.label(class = 'destination_label') }}{{ form.destination(class="destination_window", id="destination") }}
            {{ form.start_date.label(class = 'start_date_label') }}{{ form.start_date(class="start_date_window", id="start_datepicker") }}
            {{ form.end_date.label(class = 'end_date_label') }}{{ form.end_date(class="end_date_window", id="end_datepicker") }}
            {{ form.submit(class="accommodation_button") }}
        </div>
    </form>
    <!-- Подключаем скрипт для активации Datepicker -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#start_datepicker", {
            dateFormat: "Y-m-d",
            minDate: "today",
            onClose: function(selectedDates) {
                document.getElementById("end_datepicker")._flatpickr.set("minDate", selectedDates[0]);
            }
        });
        flatpickr("#end_datepicker", {
            dateFormat: "Y-m-d",
            minDate: "today", // Добавляем minDate здесь также
        });
    </script>
</div>
<div class="content">
    <div class="five-positions">
        <h1>Пять причин забронировать</h1>
    </div>
    <div class="five-positions-logos">
        <div class="block">
            <img src="{{url_for('static', filename='images/accommodation1.png')}}" alt="star">
            <p>Простой поиск и удобный фильтр</p>
        </div>
        <div class="block">
            <img src="{{url_for('static', filename='images/accommodation2.png')}}" alt="star">
            <p>Выгодные цены и акции</p>
        </div>
        <div class="block">
            <img src="{{url_for('static', filename='images/accommodation3.png')}}" alt="star">
            <p>Оплата российскими картами</p>
        </div>
        <div class="block">
            <img src="{{url_for('static', filename='images/accommodation4.png')}}" alt="star">
            <p>Эксклюзивные отели есть только у Rathe12 Travel</p>
        </div>
        <div class="block">
            <img src="{{url_for('static', filename='images/accommodation5.png')}}" alt="star">
            <p>Поддержка по телефону и в чате</p>
        </div>
    </div>
    <h3>Выбирайте отель на rathe12.ru — это удобно, выгодно и просто. У нас тысячи отелей, домов отдыха и апартаментов по всему миру.
        <br>Быстро найти нужный отель вам помогут умный фильтр, быстрый поиск, свежие отзывы и детальное описание жилья.</h3>
</div>
{% endblock %}