{% extends 'base.html' %}
{% block content %}
{{ super() }}
<div class="delimiter_accommodation">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-row">
            {{ form.destination.label(class = 'destination_label') }}{{ form.destination(class="destination_window", id="destination") }}
            {{ form.start_date.label(class = 'start_date_label') }}{{ form.start_date(class="start_date_window", id="start_datepicker") }}
            {{ form.end_date.label(class = 'end_date_label') }}{{ form.end_date(class="end_date_window", id="end_datepicker") }}
            {{ form.submit(class="accommodation_button") }}
        </div>
    </form>
    <!-- Подключаем скрипт для активации Datepicker -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#start_datepicker", {
            dateFormat: "Y-m-d",
            minDate: "today",
            onClose: function(selectedDates) {
                document.getElementById("end_datepicker")._flatpickr.set("minDate", selectedDates[0]);
            }
        });
        flatpickr("#end_datepicker", {
            dateFormat: "Y-m-d",
            minDate: "today", // Добавляем minDate здесь также
        });
    </script>
</div>
{% endblock %}