{% extends 'base.html' %}
{% block content %}
{{ super() }}
<div class="delimiter_accommodation">
    <div class="container">
        <form method="POST">
                {{ form.hidden_tag() }}
                {{ form.departure_city.label }} {{ form.departure_city }}
                {{ form.arrival_city.label }} {{ form.arrival_city }}
                {{ form.departure_date.label }} {{ form.departure_date }}
                {{ form.passengers.label }} {{ form.passengers }}
                {{ form.flight_class.label }} {{ form.flight_class }}
                {{ form.submit }}
        </form>
    </div>
</div>
123
{% endblock %}