<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    <title>{{title}}</title>
</head>
<body>
    {% block content %}
    {% block mainmenu %}
    <ul class="mainmenu">
        <li class="lilogo"><img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo"></li>
        <li class="liname">Rathe12Travel</li>
        {% for m in menu  %}
        <li class="anotherli"><a href="{{m.url}}">{{m.name}}</a></li>
        {% endfor %}
    </ul>
    {% endblock mainmenu %}
    {% endblock content %}
</body>
</html>