<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>
    {% block content %}
    {% block mainmenu %}
    <ul class="mainmenu">
        <li class="lilogo"><img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo"></li>
        <li class="liname">Rathe12Travel</li>
        {% for m in menu  %}
            {% if m.name == 'Профиль' %}
                <li class="anotherli"><a href="{{ url_for('profile.myaccount', username=current_user.username) }}">{{m.name}}</a></li>
            {% else %}
                <li class="anotherli"><a href="{{m.url}}">{{m.name}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endblock mainmenu %}
    {% endblock content %}
</body>
</html>