{% extends 'base.html' %}
{% block content %}
{{ super() }}
<h2>Sign In</h2>
<form action="" method="post" class="form-contact">
    <p>{{ form.hidden_tag() }}
        {% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] -%}
         <p>{{ field.label() }} 
         {% if field.errors %}
                   {{ field(class="invalid") }}
         <span class="invalid-feedback">
                   {% for e in field.errors %}
                   {{ e }}
                   {% endfor %}
         </span>
         {% else %}
                   {{ field() }}
         {% endif %}
{% endfor %}
    <p>{{ form.remember }} {{ form.remember.label }}</p>
    <p>{{ form.submit() }}</p>
</form>
<h4>Еще нет аккаунта? <a href="{{ url_for('register')}}" class="register_link">Зарегестрироваться</a></h4>
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %} 
{% endblock %}