{% extends 'base.html' %}
{% block content %}
{{ super() }}
<div class="delimiter"><h2>Авторизация</h2></div>
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %} 
<form action="" method="post" class="form-contact">
    <p>{{ form.hidden_tag() }}
        {% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] -%}
         <p>{{ field.label() }} 
         {% if field.errors %}
                   {{ field(class="invalid") }}
         <span class="invalid-feedback">
                   {% for e in field.errors %}
                   {{ e }}
                   {% endfor %}
         </span>
         {% else %}
                   {{ field() }}
         {% endif %}
{% endfor %}
    <div class="vstroka">
        <p>{{ form.remember }}</p><p>{{ form.remember.label }}</p>
    </div>
    <p>{{ form.submit() }}</p>
    <h4 class="register-block">Еще нет аккаунта? <a href="{{ url_for('register')}}" class="register_link">Зарегестрироваться</a></h4>
</form>
{% endblock %}