{% extends 'air_tickets.html' %}
{% block content %}
{{ super() }}
<style>
    .air-content{
        display: none;
    }
</style>
<h1>Результаты поиска</h1>



{% for flight, flight_duration in direct_flights %}


        {% for return_flight, return_flight_duration in return_direct_flights %}
        <div class="container-air-flight">
            <div class="left-block">
                {% if flight_class_name == 'economy' %}
                <h3>Цена:</h3> <p>{{"{:.1f}".format(calculate_final_price(flight.economy_price,flight.departure_time.date(),10) + calculate_final_price(return_flight.economy_price,return_flight.departure_time.date(),10))}}</p>
                {% elif flight_class_name == 'business' %}
                <h3>Цена:</h3> <p>{{"{:.1f}".format(calculate_final_price(flight.business_price,flight.departure_time.date(),10) + calculate_final_price(return_flight.business_price,return_flight.departure_time.date(),10))}}</p>
                {% endif %}
                <h4>Багаж</h4>
                <h4>Конпка</h4>
            </div>

            <div class="right-block">
                <div class="logos">
                    <p>Логотипы</p>
                </div>

                <h3>Туда</h3>
                
                <div class="flight-number">Рейс: {{ flight.flight_number }}</div>

                <div class="flight-details">
                    <div class="first-panel">
                        <p>{{ flight.departure_time.strftime('%Y-%m-%d %H:%M').split(' ')[1] }}</p>
                        <p>{{ flight.origin_city.name }}</p>
                        <p>{{ flight.departure_time.strftime('%Y-%m-%d %H:%M').split(' ')[0] }}</p>
                    </div>
                    <div class="middle-panel">
                        <div class="middle-panel-first-div">
                            <div class="takeoff-div"><img src="{{url_for('static', filename='images/takeoff.png')}}" alt="star" class="takeoff-logo"></div>
                            <div><p>Время полета:{{ flight_duration }}</p></div>
                            <div class="landing-div"><img src="{{url_for('static', filename='images/landing.png')}}" alt="star" class="landing-logo"></div>
                        </div>
                        <div>
                            <hr class="line">
                        </div>
                    </div>
                    <div class="last-panel">
                        <p>{{ flight.arrival_time.strftime('%Y-%m-%d %H:%M').split(' ')[1] }}</p>
                        <p>{{ flight.destination_city.name }}</p>
                        <p>{{ flight.arrival_time.strftime('%Y-%m-%d %H:%M').split(' ')[0] }}</p>
                    </div>
                </div>
                
                <hr class="delive_hr">

                <h3>Обратно</h3>

                <div class="flight-number">Рейс: {{ return_flight.flight_number }}</div>

                <div class="flight-details">
                    <div class="first-panel">
                        <p>{{ return_flight.departure_time.strftime('%Y-%m-%d %H:%M').split(' ')[1] }}</p>
                        <p>{{ return_flight.origin_city.name }}</p>
                        <p>{{ return_flight.departure_time.strftime('%Y-%m-%d %H:%M').split(' ')[0] }}</p>
                    </div>
                    <div class="middle-panel">
                        <div class="middle-panel-first-div">
                            <div class="takeoff-div"><img src="{{url_for('static', filename='images/takeoff.png')}}" alt="star" class="takeoff-logo"></div>
                            <div><p>Время полета:{{ return_flight_duration }}</p></div>
                            <div class="landing-div"><img src="{{url_for('static', filename='images/landing.png')}}" alt="star" class="landing-logo"></div>
                        </div>
                        <div>
                            <hr class="line">
                        </div>
                    </div>
                    <div class="last-panel">
                        <p>{{ return_flight.arrival_time.strftime('%Y-%m-%d %H:%M').split(' ')[1] }}</p>
                        <p>{{ return_flight.destination_city.name }}</p>
                        <p>{{ return_flight.arrival_time.strftime('%Y-%m-%d %H:%M').split(' ')[0] }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        {% for first_return_flight, second_return_flight, transfer_duration, total_travel_duration,first_return_flight_duration,second_return_flight_duration in return_connecting_flights %}
        <div class="container-air-flight">
            <div class="left-block">
                {% if flight_class_name == 'economy' %}
                <h3>Цена</h3> <p>{{"{:.1f}".format(calculate_final_price(flight.economy_price,flight.departure_time.date(),10) + calculate_final_price(first_return_flight.economy_price,first_return_flight.departure_time.date(),10) + calculate_final_price(second_return_flight.economy_price,second_return_flight.departure_time.date(),10))}}</p>
                {% elif flight_class_name == 'business' %}
                <h3>Цена</h3> <p>{{"{:.1f}".format(calculate_final_price(flight.business_price,flight.departure_time.date(),10) + calculate_final_price(first_return_flight.business_price,first_return_flight.departure_time.date(),10) + calculate_final_price(second_return_flight.business_price,second_return_flight.departure_time.date(),10))}}</p>
                {% endif %}
                <h4>Багаж</h4>
                <h4>Конпка</h4>
            </div>

            <div class="right-block">
                <div class="logos">
                    <p>Логотипы</p>
                </div>

                <h3>Туда</h3>

                <div class="flight-number">Рейс: {{ flight.flight_number }}</div>

                <div class="flight-details">
                    <div class="first-panel">
                        <p>{{ flight.departure_time.strftime('%Y-%m-%d %H:%M').split(' ')[1] }}</p>
                        <p>{{ flight.origin_city.name }}</p>
                        <p>{{ flight.departure_time.strftime('%Y-%m-%d %H:%M').split(' ')[0] }}</p>
                    </div>
                    <div class="middle-panel">
                        <div class="middle-panel-first-div">
                            <div class="takeoff-div"><img src="{{url_for('static', filename='images/takeoff.png')}}" alt="star" class="takeoff-logo"></div>
                            <div><p>Время полета:{{ flight_duration }}</p></div>
                            <div class="landing-div"><img src="{{url_for('static', filename='images/landing.png')}}" alt="star" class="landing-logo"></div>
                        </div>
                        <div>
                            <hr class="line">
                        </div>
                    </div>
                    <div class="last-panel">
                        <p>{{ flight.arrival_time.strftime('%Y-%m-%d %H:%M').split(' ')[1] }}</p>
                        <p>{{ flight.destination_city.name }}</p>
                        <p>{{ flight.arrival_time.strftime('%Y-%m-%d %H:%M').split(' ')[0] }}</p>
                    </div>
                </div>
                
                <hr class="delive_hr">

                <h3>Обратно</h3>

                <div class="flight-number">Рейс: {{ first_return_flight.flight_number }}</div>

                <div class="flight-details">
                    <div class="first-panel">
                        <p>{{ flight.departure_time.strftime('%Y-%m-%d %H:%M').split(' ')[1] }}</p>
                        <p>{{ first_return_flight.origin_city.name }}</p>
                        <p>{{ first_return_flight.departure_time.strftime('%Y-%m-%d %H:%M').split(' ')[0] }}</p>
                    </div>
                    <div class="middle-panel">
                        <div class="middle-panel-first-div">
                            <div class="takeoff-div"><img src="{{url_for('static', filename='images/takeoff.png')}}" alt="star" class="takeoff-logo"></div>
                            <div><p>Время полета:{{ first_return_flight_duration }}</p></div>
                            <div class="landing-div"><img src="{{url_for('static', filename='images/landing.png')}}" alt="star" class="landing-logo"></div>
                        </div>
                        <div>
                            <hr class="line">
                        </div>
                    </div>
                    <div class="last-panel">
                        <p>{{ first_return_flight.arrival_time.strftime('%Y-%m-%d %H:%M').split(' ')[1] }}</p>
                        <p>{{ first_return_flight.destination_city.name }}</p>
                        <p>{{ first_return_flight.arrival_time.strftime('%Y-%m-%d %H:%M').split(' ')[0] }}</p>
                    </div>
                </div>

                <div class="flight-details">
                    <hr class="peresadka-line"><div>Пересадка: {{ transfer_duration }}</div><hr class="peresadka-line">
                </div>

                <div class="flight-number">Рейс: {{ first_return_flight.flight_number }}</div>

                <div class="flight-details">
                    <div class="first-panel">
                        <p>{{ second_return_flight.departure_time.strftime('%Y-%m-%d %H:%M').split(' ')[1] }}</p>
                        <p>{{ second_return_flight.origin_city.name }}</p>
                        <p>{{ second_return_flight.departure_time.strftime('%Y-%m-%d %H:%M').split(' ')[0] }}</p>
                    </div>
                    <div class="middle-panel">
                        <div class="middle-panel-first-div">
                            <div class="takeoff-div"><img src="{{url_for('static', filename='images/takeoff.png')}}" alt="star" class="takeoff-logo"></div>
                            <div><p>Время полета:{{ second_return_flight_duration }}</p></div>
                            <div class="landing-div"><img src="{{url_for('static', filename='images/landing.png')}}" alt="star" class="landing-logo"></div>
                        </div>
                        <div>
                            <hr class="line">
                        </div>
                    </div>
                    <div class="last-panel">
                        <p>{{ second_return_flight.arrival_time.strftime('%Y-%m-%d %H:%M').split(' ')[1] }}</p>
                        <p>{{ second_return_flight.destination_city.name }}</p>
                        <p>{{ second_return_flight.arrival_time.strftime('%Y-%m-%d %H:%M').split(' ')[0] }}</p>
                    </div>
                </div>




                <div class="flight-details">
                    <div>Общая длительность: {{ total_travel_duration }}</div>
                </div>


            </div>
        </div>
        {% endfor %}

{% endfor %}


{% for first_flight, second_flight, transfer_duration, total_travel_duration,first_flight_duration,second_flight_duration in connecting_flights %}

    {% for return_flight, return_flight_duration in return_direct_flights %}
    <div class="container-air-flight">
        <div class="left-block">
            {% if flight_class_name == 'economy' %}
                <h3>Цена:</h3> <p>{{"{:.1f}".format(calculate_final_price(first_flight.economy_price,first_flight.departure_time.date(),10) + calculate_final_price(second_flight.economy_price,second_flight.departure_time.date(),10)  + calculate_final_price(return_flight.economy_price,return_flight.departure_time.date(),10))}}</p>
                {% elif flight_class_name == 'business' %}
                <h3>Цена:</h3> <p>{{"{:.1f}".format(calculate_final_price(first_flight.business_price,first_flight.departure_time.date(),10) + calculate_final_price(second_flight.business_price,second_flight.departure_time.date(),10)  + calculate_final_price(return_flight.business_price,return_flight.departure_time.date(),10))}}</p>
                {% endif %}
            <h4>Багаж</h4>
            <h4>Конпка</h4>
        </div>

        <div class="right-block">
            <div class="logos">
                <p>Логотипы</p>
            </div>

            <h3>Туда</h3>

            <div class="flight-number">Рейс: {{ first_flight.flight_number }}</div>

            <div class="flight-details">
                <div class="first-panel">
                    <p>{{ first_flight.departure_time.strftime('%Y-%m-%d %H:%M').split(' ')[1] }}</p>
                    <p>{{ first_flight.origin_city.name }}</p>
                    <p>{{ first_flight.departure_time.strftime('%Y-%m-%d %H:%M').split(' ')[0] }}</p>
                </div>
                <div class="middle-panel">
                    <div class="middle-panel-first-div">
                        <div class="takeoff-div"><img src="{{url_for('static', filename='images/takeoff.png')}}" alt="star" class="takeoff-logo"></div>
                        <div><p>Время полета:{{ first_flight_duration }}</p></div>
                        <div class="landing-div"><img src="{{url_for('static', filename='images/landing.png')}}" alt="star" class="landing-logo"></div>
                    </div>
                    <div>
                        <hr class="line">
                    </div>
                </div>
                <div class="last-panel">
                    <p>{{ first_flight.arrival_time.strftime('%Y-%m-%d %H:%M').split(' ')[1] }}</p>
                    <p>{{ first_flight.destination_city.name }}</p>
                    <p>{{ first_flight.arrival_time.strftime('%Y-%m-%d %H:%M').split(' ')[0] }}</p>
                </div>
            </div>
            <div class="flight-details">
                <hr class="peresadka-line"><div>Пересадка: {{ transfer_duration }}</div><hr class="peresadka-line">
            </div>

            <div class="flight-number">Рейс: {{ second_flight.flight_number }}</div>

            <div class="flight-details">
                <div class="first-panel">
                    <p>{{ second_flight.departure_time.strftime('%Y-%m-%d %H:%M').split(' ')[1] }}</p>
                    <p>{{ second_flight.origin_city.name }}</p>
                    <p>{{ second_flight.departure_time.strftime('%Y-%m-%d %H:%M').split(' ')[0] }}</p>
                </div>
                <div class="middle-panel">
                    <div class="middle-panel-first-div">
                        <div class="takeoff-div"><img src="{{url_for('static', filename='images/takeoff.png')}}" alt="star" class="takeoff-logo"></div>
                        <div><p>Время полета:{{ second_flight_duration }}</p></div>
                        <div class="landing-div"><img src="{{url_for('static', filename='images/landing.png')}}" alt="star" class="landing-logo"></div>
                    </div>
                    <div>
                        <hr class="line">
                    </div>
                </div>
                <div class="last-panel">
                    <p>{{ second_flight.arrival_time.strftime('%Y-%m-%d %H:%M').split(' ')[1] }}</p>
                    <p>{{ second_flight.destination_city.name }}</p>
                    <p>{{ second_flight.arrival_time.strftime('%Y-%m-%d %H:%M').split(' ')[0] }}</p>
                </div>
            </div>
            <div class="flight-details">
                <div>Общая длительность: {{ total_travel_duration }}</div>
            </div>

            <hr class="delive_hr">

            <h3>Обратно</h3>

            <div class="flight-number">Рейс: {{ return_flight.flight_number }}</div>

                <div class="flight-details">
                    <div class="first-panel">
                        <p>{{ return_flight.departure_time.strftime('%Y-%m-%d %H:%M').split(' ')[1] }}</p>
                        <p>{{ return_flight.origin_city.name }}</p>
                        <p>{{ return_flight.departure_time.strftime('%Y-%m-%d %H:%M').split(' ')[0] }}</p>
                    </div>
                    <div class="middle-panel">
                        <div class="middle-panel-first-div">
                            <div class="takeoff-div"><img src="{{url_for('static', filename='images/takeoff.png')}}" alt="star" class="takeoff-logo"></div>
                            <div><p>Время полета:{{ return_flight_duration }}</p></div>
                            <div class="landing-div"><img src="{{url_for('static', filename='images/landing.png')}}" alt="star" class="landing-logo"></div>
                        </div>
                        <div>
                            <hr class="line">
                        </div>
                    </div>
                    <div class="last-panel">
                        <p>{{ return_flight.arrival_time.strftime('%Y-%m-%d %H:%M').split(' ')[1] }}</p>
                        <p>{{ return_flight.destination_city.name }}</p>
                        <p>{{ return_flight.arrival_time.strftime('%Y-%m-%d %H:%M').split(' ')[0] }}</p>
                    </div>
                </div>
        </div>
    </div>
    {% endfor %}

    {% for first_return_flight, second_return_flight, retern_transfer_duration, total_return_travel_duration,return_first_flight_duration,return_second_flight_duration in return_connecting_flights %}
        <div class="container-air-flight">

            <div class="left-block">
                {% if flight_class_name == 'economy' %}
                <h3>Цена:</h3> <p>{{"{:.1f}".format(calculate_final_price(first_flight.economy_price,first_flight.departure_time.date(),10) + calculate_final_price(second_flight.economy_price,second_flight.departure_time.date(),10)  + calculate_final_price(first_return_flight.economy_price,first_return_flight.departure_time.date(),10) + calculate_final_price(second_return_flight.economy_price,second_return_flight.departure_time.date(),10))}}</p>
                {% elif flight_class_name == 'business' %}
                <h3>Цена:</h3> <p>{{"{:.1f}".format(calculate_final_price(first_flight.business_price,first_flight.departure_time.date(),10) + calculate_final_price(second_flight.business_price,second_flight.departure_time.date(),10)  + calculate_final_price(first_return_flight.business_price,first_return_flight.departure_time.date(),10) + calculate_final_price(second_return_flight.business_price,second_return_flight.departure_time.date(),10))}}</p>
                {% endif %}
                <h4>Багаж</h4>
                <h4>Конпка</h4>
            </div>

            <div class="right-block">
                <div class="logos">
                    <p>Логотипы</p>
                </div>
    
                <h3>Туда</h3>
    
                <div class="flight-number">Рейс: {{ first_flight.flight_number }}</div>
    
                <div class="flight-details">
                    <div class="first-panel">
                        <p>{{ first_flight.departure_time.strftime('%Y-%m-%d %H:%M').split(' ')[1] }}</p>
                        <p>{{ first_flight.origin_city.name }}</p>
                        <p>{{ first_flight.departure_time.strftime('%Y-%m-%d %H:%M').split(' ')[0] }}</p>
                    </div>
                    <div class="middle-panel">
                        <div class="middle-panel-first-div">
                            <div class="takeoff-div"><img src="{{url_for('static', filename='images/takeoff.png')}}" alt="star" class="takeoff-logo"></div>
                            <div><p>Время полета:{{ first_flight_duration }}</p></div>
                            <div class="landing-div"><img src="{{url_for('static', filename='images/landing.png')}}" alt="star" class="landing-logo"></div>
                        </div>
                        <div>
                            <hr class="line">
                        </div>
                    </div>
                    <div class="last-panel">
                        <p>{{ first_flight.arrival_time.strftime('%Y-%m-%d %H:%M').split(' ')[1] }}</p>
                        <p>{{ first_flight.destination_city.name }}</p>
                        <p>{{ first_flight.arrival_time.strftime('%Y-%m-%d %H:%M').split(' ')[0] }}</p>
                    </div>
                </div>
                <div class="flight-details">
                    <hr class="peresadka-line"><div>Пересадка: {{ retern_transfer_duration }}</div><hr class="peresadka-line">
                </div>
    
                <div class="flight-number">Рейс: {{ second_flight.flight_number }}</div>
    
                <div class="flight-details">
                    <div class="first-panel">
                        <p>{{ second_flight.departure_time.strftime('%Y-%m-%d %H:%M').split(' ')[1] }}</p>
                        <p>{{ second_flight.origin_city.name }}</p>
                        <p>{{ second_flight.departure_time.strftime('%Y-%m-%d %H:%M').split(' ')[0] }}</p>
                    </div>
                    <div class="middle-panel">
                        <div class="middle-panel-first-div">
                            <div class="takeoff-div"><img src="{{url_for('static', filename='images/takeoff.png')}}" alt="star" class="takeoff-logo"></div>
                            <div><p>Время полета:{{ second_flight_duration }}</p></div>
                            <div class="landing-div"><img src="{{url_for('static', filename='images/landing.png')}}" alt="star" class="landing-logo"></div>
                        </div>
                        <div>
                            <hr class="line">
                        </div>
                    </div>
                    <div class="last-panel">
                        <p>{{ second_flight.arrival_time.strftime('%Y-%m-%d %H:%M').split(' ')[1] }}</p>
                        <p>{{ second_flight.destination_city.name }}</p>
                        <p>{{ second_flight.arrival_time.strftime('%Y-%m-%d %H:%M').split(' ')[0] }}</p>
                    </div>
                </div>
                <div class="flight-details">
                    <div>Общая длительность: {{ total_travel_duration }}</div>
                </div>

                <hr class="delive_hr">

                <h3>Обратно</h3>

                <div class="flight-number">Рейс: {{ first_return_flight.flight_number }}</div>
    
                <div class="flight-details">
                    <div class="first-panel">
                        <p>{{ first_return_flight.departure_time.strftime('%Y-%m-%d %H:%M').split(' ')[1] }}</p>
                        <p>{{ first_return_flight.origin_city.name }}</p>
                        <p>{{ first_return_flight.departure_time.strftime('%Y-%m-%d %H:%M').split(' ')[0] }}</p>
                    </div>
                    <div class="middle-panel">
                        <div class="middle-panel-first-div">
                            <div class="takeoff-div"><img src="{{url_for('static', filename='images/takeoff.png')}}" alt="star" class="takeoff-logo"></div>
                            <div><p>Время полета:{{ return_first_flight_duration }}</p></div>
                            <div class="landing-div"><img src="{{url_for('static', filename='images/landing.png')}}" alt="star" class="landing-logo"></div>
                        </div>
                        <div>
                            <hr class="line">
                        </div>
                    </div>
                    <div class="last-panel">
                        <p>{{ first_return_flight.arrival_time.strftime('%Y-%m-%d %H:%M').split(' ')[1] }}</p>
                        <p>{{ first_return_flight.destination_city.name }}</p>
                        <p>{{ first_return_flight.arrival_time.strftime('%Y-%m-%d %H:%M').split(' ')[0] }}</p>
                    </div>
                </div>
                <div class="flight-details">
                    <hr class="peresadka-line"><div>Пересадка: {{ transfer_duration }}</div><hr class="peresadka-line">
                </div>
    
                <div class="flight-number">Рейс: {{ second_return_flight.flight_number }}</div>
    
                <div class="flight-details">
                    <div class="first-panel">
                        <p>{{ second_return_flight.departure_time.strftime('%Y-%m-%d %H:%M').split(' ')[1] }}</p>
                        <p>{{ second_return_flight.origin_city.name }}</p>
                        <p>{{ second_return_flight.departure_time.strftime('%Y-%m-%d %H:%M').split(' ')[0] }}</p>
                    </div>
                    <div class="middle-panel">
                        <div class="middle-panel-first-div">
                            <div class="takeoff-div"><img src="{{url_for('static', filename='images/takeoff.png')}}" alt="star" class="takeoff-logo"></div>
                            <div><p>Время полета:{{ return_second_flight_duration }}</p></div>
                            <div class="landing-div"><img src="{{url_for('static', filename='images/landing.png')}}" alt="star" class="landing-logo"></div>
                        </div>
                        <div>
                            <hr class="line">
                        </div>
                    </div>
                    <div class="last-panel">
                        <p>{{ second_return_flight.arrival_time.strftime('%Y-%m-%d %H:%M').split(' ')[1] }}</p>
                        <p>{{ second_return_flight.destination_city.name }}</p>
                        <p>{{ second_return_flight.arrival_time.strftime('%Y-%m-%d %H:%M').split(' ')[0] }}</p>
                    </div>
                </div>
                <div class="flight-details">
                    <div>Общая длительность: {{ total_return_travel_duration }}</div>
                </div>
        </div>
        </div>
        {% endfor %}

{% endfor %}
 

{% endblock %}